<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product"> 
		<result property="fileName" column="IMAGE_FILE"
			jdbcType="VARCHAR" />
		<result property="manuDate" column="MANUFACTURE_DAY"
			jdbcType="VARCHAR" />
		<result property="price" column="PRICE" jdbcType="NUMERIC" />
		<result property="prodDetail" column="PROD_DETAIL"
			jdbcType="VARCHAR" />
		<result property="prodName" column="PROD_NAME"
			jdbcType="VARCHAR" />
		<result property="prodNo" column="PROD_NO" jdbcType="NUMERIC" />
		<result property="regDate" column="REG_DATE" jdbcType="DATE" />
		<result property="proTranCode" column="tran_status_code"
			jdbcType="VARCHAR" />
		<result property="productCNT" column="productCNT" jdbcType="INTEGER"/>
		<result property="tranNo" column="TRAN_NO" jdbcType="INTEGER"/>
	</resultMap>


	<insert id="addProduct" parameterType="product">
		INSERT
		INTO product( IMAGE_FILE , MANUFACTURE_DAY , PRICE , PROD_DETAIL ,
		PROD_NAME, PROD_NO , REG_DATE,PRODUCTCNT) <!-- 테이블컬럼병 -->
		VALUES ( 
		#{fileName:VARCHAR} ,
		 #{manuDate:VARCHAR} ,
		  #{price:INTEGER} ,
		   #{prodDetail:VARCHAR} ,
		#{prodName:VARCHAR} ,
		 seq_product_prod_no.nextval ,
		  SYSDATE,
		  #{productCNT:INTEGER}
		   )
	</insert>


	<select id="getProduct" parameterType="string"
		resultMap="productSelectMap">
		SELECT
		IMAGE_FILE , MANUFACTURE_DAY , PRICE , PROD_DETAIL , PROD_NAME ,
		PROD_NO , REG_DATE ,PRODUCTCNT	<!-- 테이블컬럼병 -->
		FROM product
		WHERE PROD_NO = #{value}
	</select>
	
	
	<select id="productGetName"
		resultType="string">
		SELECT PROD_NAME
		
		FROM product
	</select>
	
	
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<set>
			PROD_NAME = #{prodName} ,
			PROD_DETAIL = #{prodDetail},
			MANUFACTURE_DAY = #{manuDate} ,
			PRICE = #{price} ,
			IMAGE_FILE = #{fileName},
			PRODUCTCNT = #{productCNT}
		</set>
		WHERE PROD_NO = #{prodNo}
	</update>
	
	<update id="updateCnt" parameterType="purchase">
		UPDATE product
		<set>
			productCNT = productCNT - #{purchaseCNT:INTEGER} 
		</set>
		WHERE PROD_NO = #{purchaseProd.prodNo}
	</update>
	
	
	


	<select id="getProductListManage" parameterType="search" resultMap="productSelectMap">
   SELECT *
   FROM ( SELECT inner_table.* , ROWNUM AS row_seq 
      FROM  (SELECT  product.* , transaction.tran_status_code,tran_no
          FROM product JOIN transaction ON product.prod_no = transaction.prod_no(+) 
          <if test="searchCondition != null">           
           <where>
            <choose>
             <when test="searchCondition == 0 and searchKeyword != '' ">             
             product.prod_no = #{searchKeyword}
             </when>
             <when test="searchCondition == 1 and searchKeyword != '' ">            
             product.prod_name LIKE '%'||#{searchKeyword}||'%'
             </when>
             <otherwise>
             product.price LIKE '%'||#{searchKeyword}||'%'
             </otherwise>
            </choose>            
           </where>
          </if>
          
          ORDER BY product.prod_no ) inner_table
         WHERE ROWNUM &lt; = #{endRowNum} )
        WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
  </select> 
  
  
  <select id="getProductListSearch" parameterType="search" resultMap="productSelectMap">
   SELECT *
   FROM ( SELECT inner_table.* , ROWNUM AS row_seq 
      FROM  (SELECT  * 
          FROM product 
          <if test="searchCondition != null">           
           <where>
            <choose>
             <when test="searchCondition == 0 and searchKeyword != '' ">             
             product.prod_no = #{searchKeyword}
             </when>
             <when test="searchCondition == 1 and searchKeyword != '' ">            
             product.prod_name LIKE '%'||#{searchKeyword}||'%'
             </when>
             <otherwise>
             product.price LIKE '%'||#{searchKeyword}||'%'
             </otherwise>
            </choose>            
           </where>
          </if>
          
          ORDER BY product.prod_no ) inner_table
         WHERE ROWNUM &lt; = #{endRowNum} )
        WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
  </select> 
  
  
  
  
  
  
  
  

	<select id="getTotalCount" parameterType="search"
		resultType="int">
		SELECT COUNT(*)
		FROM(SELECT distinct product.* , transaction.tran_status_code
          FROM product JOIN transaction ON product.prod_no = transaction.prod_no(+) 
          <if test="searchCondition != null">           
           <where>
            <choose>
             <when test="searchCondition == 0 and searchKeyword != '' ">             
             product.prod_no = #{searchKeyword}.trim()
             </when>
             <when test="searchCondition == 1 and searchKeyword != '' ">            
             product.prod_name LIKE '%'||#{searchKeyword}||'%'
             </when>
             <otherwise>
             product.price LIKE '%'||#{searchKeyword}||'%'
             </otherwise>
            </choose>            
           </where>
          </if>
          
          ORDER BY product.prod_no) countTable
	</select>

</mapper>